<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>GADIsAdManagerApp</key>
        <true/>
        <key>GADApplicationIdentifier</key>
        <string>ca-app-pub-1997641828798239~2175372780</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>vk</string>
			<string>vkauthorize</string>
		</array>
</dict>
</plist>